.featured{
   
    display: flex;
    height: 400px;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    .container{
        
        width: 1400px;
        display: flex;
        align-items: center;
        .left{
            i{
                color: white;
                // font-family: monospace;
                font-size: 40px;
            }
            display: flex;
            flex-direction: column;
            gap: 30px;

            .search{
                
                width: 500px;
                display: flex;
                flex-direction: row;
                align-items: center;
                // background-color: white;
                border-radius: 5px;
                justify-content: center;
                input{
                    
                    font-size: 20px;
                    height: 40px;
                    width: 600px;
                    border-radius: 20px 0px 0px 20px;
                    border: 1px solid white;
                    background-color: rgb(224, 227, 227);
                }

                button{
                    border-radius: 0px 20px 20px 0px;
                    height: 45px;
                    width: 200px;
                    background-color: rgb(255, 77, 77);
                    
                    color: white;
                    
                }
        

            }
            .popular{
                padding: 10px;
                font-size:30px;
                font-weight: 500;
                
                
                button{

                    color: white;
                    
                    margin: 6px;
                    background-color: transparent;
                    border: 2px solid white;
                    padding: 10px;
                    border-radius: 20px;
                }
            }
            

        }
        
    }
}